@font-face {
    font-family: "Pixellari";
    src: url("../font/pixellari.ttf") format("truetype");
}

body {
    width: 300px;

    margin: 0;
    position: relative;
    font-family: "Pixellari", sans-serif;
}

h1, h2, h3, h4, h5, h6, input, button {
    padding: 0;
    margin: 0;
    font-family: "Pixellari", sans-serif;
}

#credit {
    width: 200px;
    height: 150px;

    position: absolute;
    top: 50px;
    left: 50px;

    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(233, 226, 216, 0.911);

    overflow: auto;
    z-index: 999;

    display: none;
    transition: opacity 1s ease-out;
    opacity: 0;
}
#credit.active {
    transition: opacity 1s ease-out;
    opacity: 1;
}
#credit button:first-of-type {
    width: 15px;
    height: 15px;

    position: absolute;
    right: 5px;
    top: 5px;

    font-size: 14px;
}
#credit button:first-of-type:hover {
    cursor: pointer;
}

#main h4 {
    font-weight: lighter;
    font-size: 1.2em;
}
#main h5 {
    font-weight: lighter;
    font-size: 1.2em;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    padding: 5px 10px;

    background-image: url('../image/wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: ivory;
}
#main section {
    margin: 10px 0;
}

#main section#avatar img {
    width: 120px;
    border-radius: 150px;
    transition: .5s;
}
#main section#avatar img:hover {
    cursor: pointer;
    opacity: .9;
    transition: .5s;
}

#main section#isOnLive {
    margin-bottom: 20px;
}


#main section#social svg {
    width: 20px;
    height: 20px;

    margin: 0 5px;
    transition: .5s;
}
#main section#social svg:hover{
    cursor: pointer;
    transition: .5s;
    fill: rgb(160, 32, 177);
}

#main section#settings h4 {
    text-align: center;
    padding: 10px;
}
#main section#settings button {
    padding: 2px 10px 0 10px;
    margin: 5px 1px;
    border: 1px solid black;
    font-size: 12px;
}
#main section#settings button:first-of-type {
    margin-right: 10px;
}

footer#footer {
    position: absolute;
    bottom: 0;
    right: 0;
}
footer#footer button {
    background: none;
    color: blanchedalmond;
    border: none;
    font-size: .8em;
    padding: 2px 10px;
    outline: 0;
    transition: .5s;
}
footer#footer button:hover {
    color: rgba(255, 235, 205, 0.61);
    transition: .5s;
    cursor: pointer;
}
